body{
    font-family: Arial, sans-serif;
    background-color:#f5f5f5;
    text-align:center;
    padding:30px;
}

h1{
    color:green;
}

#quiz{
    background:white;
    width:400px;
    margin:auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

button{
    display:block;
    width:100%;
    margin:10px 0;
    padding:12px;
    font-size:18px;
    cursor:pointer;
    border-radius:8px;
}

#message{
    font-size:22px;
    font-weight:bold;
    height:30px;
}

#commencer{
    background-color:green;
    color:white;
    font-size:22px;
    padding:15px 30px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

/* Liste des thèmes */

#theme{
    width:220px;
    padding:10px;
    font-size:18px;
    border-radius:8px;
    border:1px solid #ccc;
    text-align:center;
}

/* Zone d'accueil */

#accueil{
    background:white;
    width:400px;
    margin:auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

/* Barre de progression */

#barre-container{
    width:100%;
    height:20px;
    background-color:#ddd;
    border-radius:10px;
    margin-bottom:10px;
    overflow:hidden;
}

#barre{
    width:0%;
    height:100%;
    background-color:green;
    transition:width 0.5s;
}

#progression{
    font-weight:bold;
    margin-bottom:15px;
    color:#333;
}