const accueil = document.getElementById("accueil");
const quiz = document.getElementById("quiz");
const commencer = document.getElementById("commencer");
console.log("script.js chargé");
console.log(mots);

let score = 0;
let index = 0;

let questions = [];

function melanger(tableau) {
    return tableau.sort(() => Math.random() - 0.5);
}

mots.forEach(mot => {

    let mauvaisesReponses = mots
        .filter(m => m.fr !== mot.fr)
        .map(m => m.fr);

    mauvaisesReponses = melanger(mauvaisesReponses);

    let choix = [
        mot.fr,
        mauvaisesReponses[0],
        mauvaisesReponses[1],
        mauvaisesReponses[2]
    ];

    choix = melanger(choix);

    questions.push({
        question: "Que signifie " + mot.we + " ?",
        choix: choix,
        bonne: choix.indexOf(mot.fr)
    });

});

questions = melanger(questions).slice(0, 10);

const question = document.getElementById("question");
const boutons = document.querySelectorAll(".reponse");
const message = document.getElementById("message");
function afficherQuestion() {

    let q = questions[index];

    question.textContent =
        "Question " + (index + 1) + "/" + questions.length +
        " : " + q.question;

    boutons.forEach((btn, i) => {

        btn.textContent = q.choix[i];

        btn.onclick = function () {

    boutons.forEach(b => b.disabled = true);

    if (i === q.bonne) {

        score++;
        message.textContent = "✅ Bonne réponse !";
        message.style.color = "green";

    } else {

        message.textContent = "❌ Mauvaise réponse !";
        message.style.color = "red";

    }

    setTimeout(function() {

        message.textContent = "";

        index++;

        if (index < questions.length) {
            afficherQuestion();
        } else {
            afficherResultat();
        }

        boutons.forEach(b => b.disabled = false);

    }, 1000);

};
    });
}

function afficherResultat() {

    let pourcentage =
        Math.round((score / questions.length) * 100);

    document.getElementById("quiz").innerHTML =
        `<h2>Partie terminée</h2>
         <h3>Score : ${score}/${questions.length}</h3>
         <h3>${pourcentage}%</h3>`;
}

commencer.onclick = function(){

    alert("Bouton détecté !");

    accueil.style.display = "none";

    quiz.style.display = "block";

    afficherQuestion();

};